@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Sevillana&display=swap');
body {
  background-image: url("bg.jpg");
  background-repeat: repeat;
  
  /* background-size: cover; */
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  font-size: 3rem;
}
h2 span {
  background: linear-gradient(
    45deg,
    rgba(0, 255, 102, 0.5),
    rgba(0, 255, 217, 0.5),
    rgba(0, 149, 255, 0.5),
    rgba(0, 255, 183, 0.5)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shadow {
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.navbar ul li a:hover {
  background: linear-gradient(
    45deg,
    rgba(191, 0, 255, 0.5),
    rgba(247, 0, 255, 0.5),
    rgba(157, 0, 255, 0.5),
    rgba(123, 0, 255, 0.5)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar ul li a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
}
.navbar ul li a:hover:after {
  animation: underline 0.5s ease forwards;
}
@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
    background: linear-gradient(
      45deg,
      rgba(191, 0, 255, 0.5),
      rgba(247, 0, 255, 0.5),
      rgba(157, 0, 255, 0.5),
      rgba(123, 0, 255, 0.5)
    );
  }
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  height: 100%;
  @media screen and (orientation: portrait) {
    column-gap: 20px;
  }
}
.navbar {
  padding: 20px 0;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 10;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.about-me {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 86vw;
  height: 500px;
  margin: 50px 7vw;
  border-radius: 50px;
  @media screen and (orientation: portrait) {
    flex-direction: column;
    height: 100%;
    width: 96vw;
    margin: 20px 2vw;
  }
}
.img-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  animation: slide 2s ease;
  @media screen and (orientation: portrait) {
    margin-top: 50px;
  }
}
.img-container img {
  object-fit: contain;
  object-position: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  z-index: 1;
}
.img-container::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 10px 0 5px 5px rgba(228, 31, 212, 0.5),
    0 10px 5px 5px rgba(0, 255, 119, 0.5),
    0 -10px 5px 5px rgba(66, 23, 207, 0.5),
    -10px 0 5px 5px rgba(0, 255, 217, 0.5),
    inset 10px 0 10px 1px rgba(228, 31, 212, 0.5),
    inset 0 10px 10px 1px rgba(0, 255, 119, 0.5),
    inset 0 -10px 10px 1px rgba(66, 23, 207, 0.5),
    inset -10px 0 10px 1px rgba(153, 32, 239, 0.5);
}
.content {
  width: 50%;
  @media screen and (orientation: portrait) {
    width: 90%;
    text-align: center;
    margin: 10px 0;
  }
}
@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.abt-content {
  animation: slide2 2s ease;
}
.abt-content span {
  text-align: left;

}
.wrapper {
  display: flex;
  height: 37px;
  overflow: hidden;
  column-gap: 10px;
  text-align: left;
}
.scroll {
  font-size: 2rem;
  color: #333;
}
.scroll-text span {
  position: relative;
  top: 0;
  font-size: 32px;
  list-style: none;
  animation: scroll 15s steps(5) infinite;
  background: linear-gradient(45deg, rgb(0, 170, 255),rgb(0, 72, 255),rgb(0, 68, 255));
  @media screen and (orientation: portrait) {
    
    
  }
}
@keyframes scroll {
  100% {
    top: -188px;
  }
  0% {
    top: 0;
  }
}
.content h1 {
  font-size: 3rem;
  color: #333;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
}
.abt-content h1 span {
  background: url("wave text.jpg");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: motion 3s infinite linear;
}
@keyframes motion {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}
.content h2 {
  font-size: 2rem;
  color: #333;
}
.education-box h3 {
  font-size: 1.8rem;
  color: #333;
}
.content p {
  font-size: 1.2rem;
}
.education h2 {
  font-size: 3rem;
}
.education-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.education-box {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}
.edu-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
}
.edu-content img {
  object-fit: cover;
  object-fit: left;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  animation: slide ease;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  @media screen and (orientation: portrait) {
    margin-top: 20px;
  }
}
.ug-content {
  flex-direction: row-reverse;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
}
.edu-content p {
  width: 50%;
  text-align: left;
  padding: 20px;
  animation: slide2 ease;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  @media screen and (orientation: portrait) {
    width: 90%;
    text-align: center;
  }
}
.animation {
  animation: appear ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.skill-box img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
  margin: 50px 25vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  @media screen and (orientation: portrait) {
    width: 90vw;
    margin: 50px 5vw;
  }
}
.skill-box {
  animation: appear2 ease forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid;
  border-color: rgba(96, 7, 56, 0.4);
  border-radius: 30px;
}
@keyframes appear2 {
  from {
    scale: 0;
  }
  to {
    transition: transform;
    transform: rotate(360deg);
  }
}
.skill-box::before {
  position: absolute;
  content: "";
  display: block;
  width: 102px;
  height: 120px;
  z-index: -1;
  border-radius: 30px;
}

.skill-box::after {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 200px;
  background: black;
  z-index: -2;
  transform: rotate(45deg);
  background: linear-gradient(
    to right,
    rgb(2, 173, 122),
    rgb(0, 67, 111),
    rgb(2, 54, 145)
  );
  visibility: hidden;
}
@keyframes repeat {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}
.skill-box:hover::after {
  visibility: visible;
  animation: repeat 4s linear infinite reverse;
}
.skill-box:hover::before {
  background: linear-gradient(
    45deg,
    rgb(141, 143, 92),
    rgb(128, 136, 103),
    rgb(129, 145, 113)
  );
}
.skill-box:hover {
  box-shadow: 10px 0 20px 5px rgba(2, 173, 122, 0.5),
    0 10px 20px 5px rgba(0, 67, 111, 0.5),
    0 -10px 20px 5px rgba(2, 54, 145, 0.5),
    inset 10px 0 20px 5px rgba(228, 31, 212, 1),
    inset 0 10px 20px 5px rgba(0, 255, 119, 1),
    inset 0 -10px 20px 5px rgba(66, 23, 207, 1);
  scale: 1.15;
  border-collapse: collapse;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
  margin: 50px 25vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  @media screen and (orientation: portrait) {
    width: 90vw;
    margin: 50px 5vw;
  }
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    margin: 50px 25vw;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    @media screen and (orientation: portrait) {
        width: 90vw;
        margin: 50px 5vw;
    }
}